
div{
    background-color: rgb(225, 235, 235);}


#Bio{
color:rgb(37, 29, 17);
}

#Edu{
    color:rosybrown;
}
#Dre{
color:salmon;
}
body main ol li{
    color: rgb(30, 16, 43);
    background-color: rgb(14, 194, 44);
    padding: 0%;
}

body{
    background-image: url('https://hhp-blog.s3.amazonaws.com/2017/10/iStock-187164601-e1507133295972.jpg');
}
